<%= form_with(model: @word, local: true) do |form| %>

  <% if @word.errors.any? %>
   <div id="error_explanation">
     <h2><%= @word.errors.count %>件のエラーがあります。</h2>
     <ul>
     <% @word.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "心に響いた言葉にタイトルをつけましょう" %>
  </div>

  <div class="field">
    <%= form.label :word %>
    <%= form.text_area :word, placeholder: "心に響いた言葉を記入してください" %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, placeholder: "言葉のソースを入力しましょう(例:発言者・本のタイトル・ネットのURLなど)" %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, placeholder: "言葉に対するあなたの思い・考えを入力しましょう" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= link_to '一覧画面に戻る', words_path %>
  <%= link_to 'この言葉の詳細画面へ', @word %>
  <br>
  <br>
  <br>
　<%= link_to 'この言葉を削除する', word_path(@word.id), method: :delete ,data: { confirm: '本当にこの言葉を削除してよろしいですか？' } %>
<% end %>
