<h1>投稿した言葉一覧</h1>
<%= link_to '新しい言葉を投稿する', new_word_path %>

  <table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title, "タイトル", default_order: :desc) %></th>
      <th><%= sort_link(@q, :word, "言葉", default_order: :desc) %></th>
      <th><%= sort_link(@q, :created_at, "投稿日", default_order: :desc) %></th>
      <th>感情タグ</th>
      <th>参考タグ</th>
    </tr>
  </thead>

   <tbody>
    <% @search_words.each do |word| %>
      <tr>
        <td><%= word.title %></td>
        <td><%= word.word %></td>
        <td><%= word.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= raw(word.emotion_list.join(', ')) %></td>
        <td><%= raw(word.reference_list.join(', ')) %></td>
        <td><%= word.user.name %></td>
        <td><%= link_to '詳細', word_path(word.id) %></td>
        <td><%= link_to "編集", edit_word_path(word.id) %></td>
    　　<td><%= link_to '言葉の削除', word_path(word.id), method: :delete ,data: { confirm: '本当にこの言葉を削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
    </table>
  </tbody>
</table>

 <br>
<%= link_to '新しい言葉を投稿する', new_word_path %>

<%= paginate @words %>
