<div class="container">
  <h1 class="mt-4 mb-3">言葉の詳細</h1>
      <p>タイトル: <%= @word.title %></p>
      <p>言葉: <%= @word.word %></p>
      <p>ソース: <%= @word.source %></p>
      <p>自身のコメント: <%= @word.comment %></p>
      <p>投稿日: <%= @word.created_at.strftime("%Y年%m月%d日") %></p>
      <p>更新日: <%= @word.updated_at.strftime("%Y年%m月%d日") %></p>
      <p>作成者: <%= link_to @word.user.name, user_path(@word.user.id) %></p>
      <p>タグ: <%= render 'words/tag_list', tag_list: @word.tag_list %></p>
      <% if @word.picture? %>
      <p>画像:</p>
        <%= image_tag @word.picture.url, size: "500x200" %><br><br>
      <% end %>
       <br>
       <%= link_to '言葉の一覧画面へ', words_path, class:"btn btn-primary" %>
       <% if @word.user_id == current_user.id %>
       <%= link_to "言葉を編集する", edit_word_path(@word), class:"btn btn-primary" %><br><br><br>
       <%= link_to 'この言葉を削除する', word_path(@word.id), method: :delete ,data: { confirm: '本当にこの言葉を削除してよろしいですか？' },class:"btn btn-secondary", id:"sendMessageButton" %>
       <% end %>
 </div>
