<!DOCTYPE html>
<html>
  <head>
    <title>Casiopea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <dl class="searchbox">
      <%= search_form_for @search, url: words_path do |f| %>
        <dt><%= f.text_field :title_or_word_cont, placeholder: '検索するテキストを入力' %></dt>
        <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
      <% end %>
    </dl>

    <dl class="searchbox">
      <%= search_form_for @search, url: words_path do |f| %>
        <dt><%= f.text_field :tags_name_cont,placeholder: '検索するタグを入力' %></dt>
        <%= f.hidden_field :search, value: 'true' %>
        <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
      <% end %>
    </dl>


    <% if user_signed_in? %>
      <%= link_to "投稿", words_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
